//Basic styles to build the app

@import 'fonts'
@import 'mixins/*'

*, *:before, *:after
  margin: 0
  padding: 0
  box-sizing border-box

body
  font-family 'Roboto', sans-serif

ul
  list-style none

.left
  float left

.right
  float right

.hide
  display none

.inner-container
  clearfix()
  position relative
  max-width 1200px
  margin 0 auto
  padding-left 50px
  padding-right 50px

header
  clearfix()
  background-color #2196F3
  color #fff
  position relative
  z-index 999

  .logo
    padding 16px
    padding-left 0
    display inline-block

  a
    color #fff

.navigation
  display inline-block
  cursor pointer
  margin-left 10px
  position relative

  &.active
    background-color #64B5F6

  .avatar
    padding 5px 0

    i,img
      display inline-block
      vertical-align middle

    i
      padding-left 14px

    img
      height 40px
      width 40px
      border-radius 40px

  ul
    display none
    position absolute
    top 100%
    right 0
    width 150px
    background-color #42A5F5

    li:first-child
      background-color #65B7F9

    li a
      text-decoration none
      padding 10px
      display block
      text-align center

.items
  clearfix()

  .item
    float left
    width 48.5%
    margin-right 3%

    &:nth-child(2n)
      margin-right 0

.item-menu
  color #00395E
  margin-left 5px

.item
  box-shadow: 1px 1px 5px 1px rgba(195, 195, 195, 0.31);
  padding: 10px;
  margin-bottom 10px

  img
    display: block;
    width: 100%;

  &.show
    text-align center

    div
      text-align left

    img
      display inline-block
      width auto


.profile
  margin-top 20px
  position relative
  padding-left 270px
  clearfix()

  .left
    width 250px;
    position absolute
    left 0
    top 0
    overflow hidden

  .right
    width 100%